{% extends "base.html" %}

{% block content %}
<div>
<h1>Зачем?</h1>
<p>Этот сайт призван облегчить поиск, волонтера (или наемного рабочего), который сможет вам в чем-либо помочь.</p>
</div>
<div>
<h1>Как использовать?</h1>
    <h2>1. Авторизуйтесь или зарегистрируйтесь</h2>
    <p>Неавторизванные пользователи могут лишь просматривать чужие запросы, но взаимодействовать с ними - нет.</p>
    <img src="./static/img/img1.jpg">
    <h2>2. Приступайте к использованию</h2>
    <p>В своем профиле вы можете создать запрос о помощи, нажав на соответствующую кнопку</p>
    <p>Там же вы можете посмотреть уже созданные вами запросы, удалить, отредактировать или отправить их в архив</p>
    <p>Запросы, которые вы берете от других пользователей доступны во вкладке "Входящие запросы"</p>
    <img src="./static/img/img2.png">
    <img src="./static/img/img3.png">
    <p>На карте вы можете просматривать как свои запросы, так и запросы других пользователей</p>
    <p>Нажава на кнопку "Выполнить" вы приступите к выполнению этого запроса и он будет отображаться в вашем профиле</p>
    <img src="./static/img/img4.png">
</div>
<div>
<h1>Кто сделал?</h1>
<p>Команда опытных(и не очень) web-разработчиков ЦДО Сириус</p>
    <p>email: mail@gmail.com</p>
</div>
{% endblock %}